body {
    background-color: #000B10;
    color: #fff;
    font-family: 'Roboto Slab', serif;
    text-align: center;
}

header {
    background-color: #45B59C;
    align-content: center;
    padding: 2rem;
    
}

header h1 {
    display: inline-block;
    font-family: 'Playfair Display', serif;
}

header img {
    border-radius: 100%;
    width: 10%;
}

section.skills {
    margin: 2rem 0;
}

.skills li {
    line-height: 2em;
    list-style: none;
}

.navbar li {
    display: inline;
    padding: 0 15px;
    color: white;
}

.strong {
    font-size: 1.1rem;
}

p {
    font-size: 1.25rem;
}

ul {
    margin: 15px 0;
    padding: 15px 0;
}

a {
    color: inherit;
    text-decoration: none;
    
}