.portfolio {
  background-color: #dfdde0;
}

.portfolio h1 {
  color: #08060b;
}

.portfolio i {
  font-size: 2.5rem;
  color: #0d6736;
}

.card {
  border: 0;
  box-shadow: rgb(38, 57, 77) 0 20px 30px -10px;
  max-width: 18rem;

  /* https://getcssscan.com/css-box-shadow-examples */
}

@media (min-width: 600px) {
  .portfolio h1 {
    text-align: center !important;
  }
}
