.about {
  background-color: #08060b;
  color: #fff;
}

.aboutMe {
  width: 75%;
}

.about p {
  font-size: 1rem;
  line-height: 2rem;
  margin-bottom: 2rem;
}

.about i {
  font-size: 2.5rem;
  color: #0fb55d;
}

@media (min-width: 600px) {
  .aboutMe {
    width: 550px;
  }
}
