.tools {
  background-color: #dfdde0;
}

.tools h1 {
  color: #08060b;
}

.tools img {
  height: 5rem;
  margin: 1rem;
}

.tools i {
  font-size: 2.5rem;
  color: #0d6736;
}

@media (min-width: 600px) {
  .logos {
    width: 800px;
  }

  .logos h1 {
    text-align: center !important;
  }
}
