.home {
  background-image: url("../../images/background.jpg");
  background-size: cover;
}

.greetings {
  color: #0fb55d;
}

@media (max-width: 600px) {
  .home {
    background-position: center;
  }
}
