.home {
  background-color: #1e1e1e;
}

.home h1 {
  background: -webkit-linear-gradient(45deg, #006312, #ade628, #cdff03);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  font-family: cursive;
}
